html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0px;
}
.container{
	width: 100%;
	height: 100%;
	display: inline-grid;
	grid-template-columns: 54% 46%;
	margin: 0px;

}


.leftside, .rightside{
	height: 100%;
  	z-index: 1;
  	top: 0;
}

.leftside{

}


.rightside{
	background: rgba(111, 193, 145, 0.4);
	background-image: url("../img/index-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}

.text1, .text2{
	color: var(--azul-oscuro);
	


}

.text1{
	margin-top: 8.1vh;
	margin-left: 3.6vw;
	font-size: 3.6vw;
}

.text2{
	text-align: center;
	margin-top: 21.1vh;
	font-size: 3.1vw;
}

h1{
	font-weight: normal;
	color: var(--amarillo);
	font-size: 7.8vw;
	margin: 0px;
	margin-left: 3.6vw;
	letter-spacing: 0.022em;
	margin-top: 9.2vh;

}

.form_input1, .form_input2{
	border: none;
	margin-left: 6vw;

}

.form_input1{
	padding-top: 32.2vh;
}

.form_input2{
	padding-top: 4.6vh;
}

#usuario, #contraseña {
	font-family: Report;
	border: 1px solid var(--gris-claro);
	background-color: white;
	color: black;
	font-size: 3.3vw;
	width: 34.2vw;
	height: 8.5vh;
	padding-left: .5em;
}

#usuario::placeholder, #contraseña::placeholder{
	color: var(--gris-claro);
}

#logo-dif{
	position: fixed;
	width: 235px;
	height: 121px;
	left: 0;
	bottom: 0;
	z-index: 1000;
}